.about__wrapper {

}
.about .text {
    display: inline-block;
    padding: 2rem;
    max-width: 65rem;
    background-color: var(--third-brand-color);
}
@media screen and (min-width: 1024px)  {
    .about {
        display: flex;
        align-items: center;
    }
    .about .text {
        padding: 3rem;
    }
    .about .img {
        height: 32rem;
        object-fit: cover;
        margin: 0;
        margin-right: 4rem;
    }
}